.centre {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.centre-wrap {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centre-margin-top {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.title {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #BFC2FF;
    font-family: Fredoka One;
    text-shadow: 2px 2px #00008B;
}

.button-design {
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    font-family: Lexend, monospace;
    border-radius: 15%;
    box-shadow: 5px 10px #add8e6;
}

.button-design-dark {
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    font-family: Lexend, monospace;
    border-radius: 15%;
    box-shadow: 5px 10px #50A3BF;
    background-color: #ffffff;
    color: #0b5ed7;
}

