@page "/"
@using Comforix.Shared

<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">

<PageTitle>Index</PageTitle>

<div class="centre">
    <h1>Welcome to Comforix</h1>
</div>
<div class="centre">
    <button class="button-design" @onclick="() => { Step1Selected(PhysicalOrEmotional.Physical); }">Physical</button>
    <button class="button-design" @onclick="() => { Step1Selected(PhysicalOrEmotional.Emotional); }">Emotional</button>
    <button class="button-design" @onclick="() => { Step1Selected(PhysicalOrEmotional.Both); }">Both</button>
</div>

@if (_showStep2 && _peSelection == PhysicalOrEmotional.Emotional || _peSelection == PhysicalOrEmotional.Both)
{
    <div class="centre">
        <br/>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.Depression); }">Depression</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.Anxiety); }">Anxiety</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.Ptsd); }">PTSD</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.Stress); }">Stress</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.SomethingElse); }">Something else</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.PreferNotToSay); }">Prefer not to say</button>
    </div>
}

@if (_showStep2 && _peSelection == PhysicalOrEmotional.Physical || _peSelection == PhysicalOrEmotional.Both)
{
    <div class="centre">
        <br/>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.BrokenLeg); }">Broken leg</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.BrokenArm); }">Broken arm</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.Cancer); }">Cancer</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.SomethingElse); }">Something else</button>
        <button class="button-design" @onclick="() => { Step2Selected(Issue.PreferNotToSay); }">Prefer not to say</button>
    </div>
}

@if (_showStep3)
{
    <div class="centre">
        <br/>
        <input @bind="_message"/>
        <button @onclick="Step3Selected">Proceed</button>
    </div>
}

@if (_showStep4)
{
    <div class="centre">
        <br/>
        <p>Registration/Login stuff!</p>
    </div>
}

@code {

    PhysicalOrEmotional _peSelection;
    Issue _issue;
    private bool _showStep2, _showStep3, _showStep4;
    private string _message;

    private void Step1Selected(PhysicalOrEmotional selection)
    {
        _peSelection = selection;
        Console.WriteLine((int)selection);
        _showStep2 = true;
    }

    private void Step2Selected(Issue selection)
    {
        _issue = selection;
        Console.WriteLine((int)selection);
        _showStep3 = true;
    }

    private void Step3Selected()
    {
        _showStep4 = true;
    }

}