.centre {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.title {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: Fredoka One;
}

.button-design {
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    font-family: Lexend, monospace;
    border-radius: 15%;
    box-shadow: 5px 10px #add8e6;
}
.button-design-dark {
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    font-family: Lexend, monospace;
    border-radius: 15%;
    box-shadow: 5px 10px #50A3BF;
    
}
