@page "/List"
<h3>List</h3>
<label>
    <input type="radio" name="physical-emotional-both"> Physical
</label>
<label>
    <input type="radio" name="physical-emotional-both"> Emotional
</label>
<label>
    <input type="radio" name="physical-emotional-both"> Both
</label>
@code {
    
}