@page "/Message"
@page "/Message/{UserId}"
@using Comforix.Shared
@using System.Net
@inject HttpClient HttpClient
<style>
    .text-align-left{
    left: 150px;
    } 
    .text-align-right{
        right: 150px;;
        }
</style>

<tr> 
<td class="text-align-left">Their Profile</td>
<td class="text-align-right">My Profile</td>
</tr>

@code {

    [Parameter]
    public string UserId { get; set; } = string.Empty;

}