@page "/Message"
@page "/Message/{UserId}"
@inject HttpClient HttpClient

<div class="flex-parent">
    <div class="flex-child"><h1>Their Profile</h1></div>
    <div class="flex-child"><h1>My Profile</h1></div>
</div>

<div class="input-down">
    <input style="width: 90%" type="text" placeholder="Message">
    <button>Send</button>
</div>

@code {

    [Parameter]
    public string UserId { get; set; } = string.Empty;

}