@page "/Search"
<h3>Filter:</h3>
<label>
    <input class="padding" type="radio" name="physical-emotional-both"> Physical
</label>
<label>
    <input class="padding" type="radio" name="physical-emotional-both"> Emotional
</label>
<label>
    <input class="padding" type="radio" name="physical-emotional-both"> Both
</label>
<p></p>
<label class="padding" for="depression"><input id="depression" type="checkbox" name="difficulty"> Depression</label>
<label class="padding" for="anxiety"><input id="anxiety" type="checkbox" name="difficulty"> Anxiety</label>
<label class="padding" for="PTSD"><input id="PTSD" type="checkbox" name="difficulty"> PTSD</label>
<label class="padding" for="stress"><input id="stress" type="checkbox" name="difficulty"> Stress</label>
<label class="padding" for="broken-leg"><input id="broken-leg" type="checkbox" name="difficulty"> Broken Leg</label>
<label class="padding" for="broken-arm"><input id="broken-arm" type="checkbox" name="difficulty"> Broken Arm</label>
<label class="padding" for="cancer"><input id="cancer" type="checkbox" name="difficulty"> Cancer</label>
<label class="padding" for="something-else"><input id="something-else" type="checkbox" name="difficulty"> Something Else</label>
<label class="padding" for="prefer-not-to-say"><input id="prefer-not-to-say" type="checkbox" name="difficulty"> Prefer Not To Say</label>

<br/>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>
<div class="div-wrap">
    <br/><input type="text" placeholder="Username"><br/>
    <input type="text" placeholder="Issue"><br/>
    <input type="text" placeholder="Description"><br/>
    <p>Repulation</p>
</div>