<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

<style>
.navbar-custom {
  height: 50px;
}
.thingu{
    color:#85B0CD;
    position: absolute;
    left: 1200px;
    text-decoration: none;
    font-family: Concert One;

}
.second{
     color:#85B0CD;
    position: absolute;
    left: 1300px;
    text-decoration: none;
    font-family: Concert One;

}
.third{
   color:#85B0CD;
    position: absolute;
    left: 1400px;
    text-decoration: none;
    font-family: Concert One;

}


</style>
<nav class="navbar navbar-custom navbar-dark bg-secondary w-100 px-50">
    <div class="container-fluid justify-content-start">
        
        <a class="navbar-brand">Comfortix<Health></Health></a>
        <a class="thingu" href="">SIGN IN</a>
        <a class="second" href="">SIGN UP</a>
        <a class="third" href="">GALLERY</a>
    </div>
</nav>