<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

<style>
.navbar-custom {
  height: 70px;
}
.thingy {
    color:#85B0CD;
    position: absolute;
    left: 1200px;
    text-decoration: none;
    font-family: Concert One;

}
.second{
     color:#85B0CD;
    position: absolute;
    left: 1300px;
    text-decoration: none;
    font-family: Concert One;

}
.third{
   color:#85B0CD;
    position: absolute;
    left: 1400px;
    text-decoration: none;
    font-family: Concert One;

}

</style>
<nav class="navbar navbar-custom navbar-dark bg-secondary w-100 px-60">
    <div class="container-fluid justify-content-start">
        <h5 class="navbar-brand">Comforix<Health></Health></h5>
        <h5 class="thingy" href="">SIGN IN</h5>
        <h5 class="second" href="">SIGN UP</h5>
        <h5 class="third" href="">GALLERY</h5>
    </div>
</nav>