<!-- hi! -->

<style>
.navbar-custom {
  height: 50px;
}
.thingu{
    color:#85B0CD;
    position: absolute;
    left: 1200px;
    text-decoration: none;

}
.second{
     color:#85B0CD;
    position: absolute;
    left: 1300px;
    text-decoration: none;

}
.third{
   color:#85B0CD;
    position: absolute;
    left: 1400px;
    text-decoration: none;

}


</style>
<nav class="navbar navbar-custom navbar-dark bg-secondary w-100 px-50">
    <div class="container-fluid justify-content-start">
        
        <a class="navbar-brand">Mental<Health></Health></a>
        <a class="thingu" href="">SIGN IN</a>
        <a class="second" href="">SIGN UP</a>
        <a class="third" href="">GALLERY</a>
    </div>
</nav>