<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet"/>
<link href="css/headers.css" rel="stylesheet"/>


<style>
.navbar-custom {
  height: 70px;
}

.thingy {
    color:#85B0CD;
    position: absolute;
    left: 1200px;
    text-decoration: none;
    font-family: Concert One, serif;
    font-size: large;
}

.second {
    color:#85B0CD;
    position: absolute;
    left: 1300px;
    text-decoration: none;
    font-family: Concert One,serif;
    font-size: large;
}

.third {
    color:#85B0CD;
    position: absolute;
    left: 1400px;
    text-decoration: none;
    font-family: Concert One,serif;
    font-size: large;
}

.navbar-brand {
    color:#BFC2FF;
    position: absolute;
    text-decoration: none;
    font-family: Sniglet;
    font-size: xx-large;
}

.home {
        color:#85B0CD;
        position: absolute;
        left: 1100px;
        text-decoration: none;
        font-family: Concert One,serif;
        font-size: large;
}

</style>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="better_comforix_logo.png" width="60" height="60" alt=""/>
            <span class="fs-4">Comforix</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/Login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/Search" class="nav-link">Search</a>
            </li>
            <li class="nav-item">
                <a href="/Message" class="nav-link">Messages</a>
            </li>
        </ul>
    </header>
</div>