<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<style>
.navbar-custom {
  height: 70px;
}

.thingy {
    color:#85B0CD;
    position: absolute;
    left: 1200px;
    text-decoration: none;
    font-family: Concert One, serif;
    font-size: large;
}

.second{
    color:#85B0CD;
    position: absolute;
    left: 1300px;
    text-decoration: none;
    font-family: Concert One, serif;
    font-size: large;
}

.third{
    color:#85B0CD;
    position: absolute;
    left: 1400px;
    text-decoration: none;
    font-family: Concert One,serif;
    font-size: large;
}

.navbar-brand{
    color:#BFC2FF;
    position: absolute;
    text-decoration: none;
    font-family: Sniglet;
    font-size: xx-large;
}

</style>
<nav class="navbar navbar-custom navbar-dark bg-secondary w-100 px-60">
    <div class="container-fluid justify-content-start">
        <h5 class="navbar-brand">Comforix</h5>
        <a class="thingy" href="">SIGN IN</a>
        <a class="second" href="">SIGN UP</a>
        <a class="third" href="">GALLERY</a>
    </div>
</nav>